@knowledge_reports +WebBackend.AnswerExtraction.KnowledgeReport
@knowledge_ids +string
@current_knowledge_id string

.container
	%nav{class: "navbar navbar-inverse navbar-fixed-top"}
		.navbar-header
			%button{type: "button", class: "navbar-toggle", data-toggle: "collapse", data-target: "navbar-collapse"}
				%span.sr-only
					Expand navigation	
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar

			%a{class: "navbar-brand", href: "/"} Mgr. Vodolán Miroslav
.jumbotron#preface
	.container
		%h1 Knowledge
		%p 
			Knowledge collected during answer extraction experiments.

		%h2 Available storages
		%p
			- @knowledge_ids.each do |knowledge_id|
				.experiment_row
					- if knowledge_id == @current_knowledge_id
						%b
							= knowledge_id
					- else
						%a{href: LinkToKnowledge(knowledge_id)}
							= knowledge_id

.container	
	- @knowledge_reports.each do |knowledge_report|
		.knowledge_report
		%h2 
			Statistics
		.statistics
			%p
				%b Question count: 
				= knowledge_report.QuestionCount

			%p
				%b Answer hint count: 
				= knowledge_report.AnswerHintCount	
						
			%p
				%b Question with answer hint count: 
				= knowledge_report.QuestionWithAnswerHintCount

			%p
				%b Question with correct denotation count: 
				= knowledge_report.QuestionWithCorrectDenotationCount

		- knowledge_report.Questions.each do |question_report|
			%div{correct: question_report.HasCorrectDenotation.ToString()}.question_report
				.question
					= raw LinkedUtteranceLink(question_report.Question)
					.label
						= raw EntryLink(question_report.AnswerLabel)
				- question_report.CollectedDenotations.each do |denotation|		
					.denotation
						.answer_hint
							= raw LinkedUtteranceLink(denotation.Item1)
						.entity
							= raw EntityLink(denotation.Item2)