@experiment_statistics WebBackend.Experiment.Statistics
@experiment_ids +string
@current_experiment_id string

.container
	%nav{class: "navbar navbar-inverse navbar-fixed-top"}
		.navbar-header
			%button{type: "button", class: "navbar-toggle", data-toggle: "collapse", data-target: "navbar-collapse"}
				%span.sr-only
					Expand navigation	
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar

			%a{class: "navbar-brand", href: "/"} Mgr. Vodolán Miroslav
.jumbotron#preface
	.container
		%h1 Statistics
		%p 
			Actual statistics about collected data

		%h2 Available experiments
		%p
			- @experiment_ids.each do |experiment_id|
				.experiment_row
					- if experiment_id == @current_experiment_id
						%b
							= experiment_id
					- else
						%a{href: LinkToExperiment(experiment_id)}
							= experiment_id

.container	
		%h1 
			Experiment: 
			%b
				= @current_experiment_id
		%h2 General statistics
		%p
			%p
				%b Dialog count: 
				= @experiment_statistics.DialogCount
			%p
				%b Turn count: 
				= @experiment_statistics.TurnCount

			%p
				%b Question answer pairs: 
				= @experiment_statistics.QuestionAnswerPairs

			%p
				%b Positive equivalencies: 
				= @experiment_statistics.PositiveEquivalencies 

			%p
				%b Negative equivalencies: 
				= @experiment_statistics.NegativeEquivalencies

		%h2 Structured data
		%p
			%a{href: LinkToLog("feedback", @current_experiment_id)} 
				Feedback
		%p
			%a{href: LinkToLog("advices", @current_experiment_id)}
				Advice
		%p
			%a{href: "knowledge_votes?experiment_id=" + @current_experiment_id}
				Knowledge Votes

.container	
		%h2 User log files
		
		#logfile_list
			- @experiment_statistics.LogFiles.each do |logfile|
				.row
					.col-md-4
						%a{href: LinkTo(logfile)}= logfile.Id
					.col-md-2
						.time= logfile.Time
					.clol-md-1
						.size= Size(logfile.Size)